/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 20px;
    /* debug */
    /* background-color: tomato;
    height: 400vh; */
}

.btn {
    padding: 5px 20px;
    font-weight: 600;
    border: none;
    background-color: #0455FF;
    color: #fff;
}

.center {
    width: 70%;
    margin: 0 auto;
}

.up.center {
    width: 80%;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* header nav */
.header-fix {
    height :100px;
    line-height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;  
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.top.left {
    float: left;
}

.top.left img {
    width: 170px;
    vertical-align: middle;
}

.top ul li, a {
    text-decoration: none;
    display: inline-block;
}

.top a {
    color: #000;
    font-weight: 600;
    font-size: 0.8em;
    margin: 0 25px 0 15px;
}

.top.right {
    float: right;
}

/* jumbotron */
#jumbotron {
    padding-top: 150px;
    line-height: normal;
    background-color: #B5D0E7;
    max-height: 730px;
    width: 100%;
}

#title {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 30px;
}

#jumbotron .sxaside {
    float: left;
    width: 30%;
}

.upper.sxaside p:first-of-type {
    font-size: .9em;
    font-weight: bolder;
}

.dxaside {
    float: right;
}

.btn.jumbo {
    padding: 10px 15px;
    font-size: 1em;
    margin: 20px 0 10px 0;
}

.upper.sxaside p:last-of-type {
    font-size: 0.7em;
}

.fa-arrow-down {
    margin-top: 30px;
    font-size: 2em;
    color: #000;
}
.upper.dxaside {
    width: 70%;
}
.upper.dxaside img{
    width: 100%;
}

/* main offer plans */
.offers-title {
    width: 100%;
    padding: 175px 0 30px 0;
    font-size: 1.3em;
}

article.row {
    width: calc(100% / 3 - 27px);
    float: left;
}

article.middle.row {
    margin: 0 40px;
}

article .center {
    width: 100%;
}

.center-offer{
    width:90%;
    margin: 0 auto;
}

.fas.fa {
    text-align: center;
    border: 2px solid #DCDCDF;
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
}

.fa.fa span {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.single-offer {
    border-bottom: 2px solid #DCDCDF;
    border-right: 2px solid #DCDCDF;
    border-left: 2px solid #DCDCDF;
    min-height: 900px;
        /* debug */
    /* height: 400px; */
 }
 
 .single-offer h4 {
     font-size: 1.1em;font-weight: bolder;
 }

 .single-offer h4, .single-offer h5 {
     padding: 15px 0;
 }

 .single-offer li {
     list-style: none;
     font-size: 0.8em;
     padding: 10px 0;
 }

 /* unicode offer list */
 li.user:before{
    content: '\f007';
    font-family: 'Font Awesome\ 5 Free';
 }
 
 li.folder:before{
    content: '\f07b';
    font-family: 'Font Awesome\ 5 Free';
 }
 li.pencil:before{
    content: '\f303';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
 }

 li.user.plus:before {
    content: '\f234';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
 }

 /* button offer  */
.priv-btn {
    text-align: center;
    font-size: 1.2em;
}

.priv-btn .btn {
    padding: 8px 30px;
    margin: 30px 0 20px 0;
 }

 /* link buy now */
.single-offer .buy-now {
    font-size: 0.7em;
}

.buy-now span {
    padding-bottom: 30px;
    border-bottom: 2px solid #DCDCDF;
}

 /* second part of single-offer */
.center-offer.best h4{
    padding-top: 100px;
}

.center-offer .check {
    font-size: .7em;
}

.center-offer .check::before {
    content: '\f00c';
    color: #275DF2;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
 }

/* enterprise offer */
article.enterprise {
    padding-top: 50px;
    width: 100%;
 }

 .enterprise .clearfix {
    padding-top: 40px;
    border-bottom: 2px solid #DCDCDF;
    border-right: 2px solid #DCDCDF;
    border-left: 2px solid #DCDCDF;
    padding: 50px 5%;
    /* debug */
    /* height: 300px; */
 
 }

 /* enterprise sxaside */
 .enterprise .sxaside {
     float: left;
     width: 70%;
 }

 .sxaside h2 {
     margin-bottom: 20px;;
 }
 .sxaside h4 {
    margin-bottom: 30px;
}

.enterprise .dxaside {
    width: 30%;
    min-height: 118px
}

.clearfix .solutions {
    font-size: 0.7em;
    font-weight: 600;
    padding-top: 50px;
}

.btn.btn-enterprise {
    margin: 0;
    padding: 10px 50px;
}


